body {
    margin: 0;
    width: 1920px;
    font-family: Lato;
    line-height: normal;
    font-style: normal;
}

/* header related styles */

.primary-text {
    color: #272727;
}

.secondary-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.primary-button {
    border: 0;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

body>header {
    background: rgba(229, 84, 115, 0.10);
}

.home-page {
    display: flex;
}

.home-text {
    margin-left: 240px;
}

#home-description {
    width: 634px;
    max-height: 90px;
    margin-bottom: 32px;
    margin-right: 171px;
}

#home-title {
    max-width: 708px;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 32px;
}

#home-button {
    margin-bottom: 147px;
}

#home-image {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}

/* main related styles */

#featured-flowers-title {
    margin-top: 178px;
    margin-left: 760px;
    margin-right: 760px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    width: 400px;
}

#featured-flowers-description {
    margin-top: 24px;
    margin-left: 663px;
    text-align: center;
    max-width: 594px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.pink-flower-tree {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pink-flower-tree-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    margin-top: 48px;
    margin-bottom: 0px;
}

#background-1 {
    margin-left: 240px;
    background: rgba(167, 33, 98, 0.15);
}

#background-2 {
    margin-left: 24px;
    margin-right: 24px;
    background: rgba(5, 151, 160, 0.15);
}

#background-3 {
    margin-left: 24px;
    margin-right: 24px;
    background: rgba(5, 151, 160, 0.15);
}


#pink-flower-tree-image-1 {
    margin-top: 110px;
    margin-bottom: 32px;
    width: 310px;
    height: 428px;
}

#pink-flower-tree-image-2 {
    margin-top: 117px;
    margin-bottom: 83px;
    margin-left: 47px;
    width: 370px;
    height: 370px;
}

#pink-flower-tree-image-3 {
    margin-top: 67px;
    margin-bottom: 32px;
    margin-left: 75px;
    margin-right: 75px;
    width: 314px;
    height: 471px;
}

.pink-flower-tree p {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.featured-flowers>footer {
    margin-top: 195px;
    margin-left: 242px;
    width: 1450px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.featured-flowers>footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#delivery-man {
    margin-top: 86px;
    margin-left: 317px;
    margin-right: 356px;
}

#fresh-flowers {
    margin-top: 86px;
    margin-right: 271px;
}

#free-support {
    margin-top: 86px;
}

.featured-flowers>footer div p {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
    margin-bottom: 87px
}

#delivery-text {
    margin-left: 175px;
    margin-right: 100px;
}

#flower-text {
    margin-right: 100px;
}

#support-text {
    margin-right: 175px;
}

.hot-deal {
    margin-top: 128px;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-contents {
    display: flex;
}


#deal-banner-title {
    margin-top: 230px;
    margin-left: 423px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
}

#off {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

#deal-banner-text {
    width: 594px;
    margin-left: 395px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

#deal-banner-button {
    margin-left: 603px;
    margin-bottom: 162px;
}

.deal-contents>img {
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-right: 429px;
    margin-bottom: 100px;
    margin-left: 186px;
}

#social-media-title {
    margin-top: 128px;
    margin-left: 872px;
    margin-bottom: 24px;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;

}

#social-media-description {
    width: 594px;
    margin-left: 665px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.social-media-images {
    display: flex;
    margin-top: 48px;
    margin-bottom: 128px;
}

#social-media-images-1 {
    margin-left: 242px;
    margin-right: 24px;
}

#social-media-images-2 {
    margin-right: 24px;
}

#social-media-images-3 {
    margin-right: 24px;
}

#social-media-images-4 {
    margin-right: 240px;
}

.social-media>footer {
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    margin-left: 242px;
    margin-bottom: 128px;
}

.subscription {
    display: flex;
    flex-direction: column;
}

#subscription-title {
    margin-top: 122px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

#subscription-description {
    /* margin-top: 16px; */
    margin-bottom: 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.email {
    display: flex;
    /* flex-direction: row; */
}

.email-form>input {}

#email-text {
    padding: 0px 0px 0px 22px;
    /* text-align: left; */
    font-size: 16px;
    font-weight: 400;
    border: none;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 287px;
}

#subscribe-button {
    width: 150px;
    height: 64px;
    margin-left: 16px;
    text-align: center;
    padding: 18.29px 31px;
}

/* footer styles */
.copyright {
    width: 1922px;
    height: 449px;
    background: #111010;
}

.copyright-banner {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.copyright-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-top: 128px;
    margin-left: 831px;
    margin-bottom: 24px;
}

#shop {
    color: #FFF;
}

.copyright-description {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 648px;
    margin-bottom: 32px;
}

.copyright-rights {
    width: 355px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 784px;
}